* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.container {
  text-align: center;
  display: grid;
  min-height: inherit;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.menu > ul {
  display: grid;
  justify-content: end;
  grid: 1fr / repeat(4, minmax(min-content, 20%));
  list-style: none;
}

.nav > ul {
  display: grid;
  grid: 1fr / repeat(3, 1fr);
  list-style: none;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid: 1fr / 1fr 4fr;
  grid-column: 1 / 3;
  align-items: center;;
}

.logo {
  justify-self: start;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-area: 2/1 / 4/2;
  display: grid;
  gap: 50px;

    > * {
      display: grid;
      place-content: center;
    }
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}


.nav {
  background-color: #C50208;
  grid-area: 2/2 / 3/3;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: 3/2 / 4/3 ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4/1 / 5/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}