/* Add CSS Styling */
.dark-button,
.bright-button{
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.dark-button{
    background-color: black;
    color: white;
}

.bright-button{
    background-color: #d9ff00;
}