body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
  padding: 0.5rem;
}

.title {
  background: #e3f4ff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.content {
  background: #e3f4ff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.button-container {
  background: #e3f4ff;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 8px 32px;
}

* {
  font-size: 16px;
}